@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Панель администратора";
}

<h2>Сущности</h2>
<a asp-action="AdminUsers">Пользователи</a><br />
<a asp-action="AdminCars">Автомобили</a><br />
<a asp-action="AdminItems">Товары</a><br />
