
* {
	padding: 0px;
	margin: 0px;
}


body {
	background-color: #7E7E7E;
}

@media (max-width: 1000px) {  /* MOBILE STYLES */
	#content {
		width: 80vw;
		min-height: 80vh;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15vh;
		font-family: "Montserrat";
	}

	.categories-container {
		width: 78vw;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		/*overflow-x: auto;*/
		flex-wrap: wrap;
	}

	.category button {
		padding: 0vh 1vw;
		margin-bottom: 1vh;
		margin-right: 1vw;
		border: 0.14vw solid #242425;
		/*border-radius: 1.2vw;*/
		font-weight: 500;
		font-size: 2.4vw;
		transition: .3s all;
		background: none;
	}


		/* .category button.all-items {
			cursor: pointer;
			background-color: #b30016;
			color: #FFFFFF;
		}*/

		.category button:hover {
			cursor: pointer;
			background-color: #b30016;
			color: #FFFFFF;
			border-color: #b30016;
		}


	.filters-container {
		width: 30vw;
		margin-right: 2vw;
	}


	select {
		width: 100%;
		/*border-radius: 1.2vw;*/
		padding: .2vh 1vw;
		font-size: 2vw;
	}


	.items-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		/*	outline: solid green;*/
	}

	.item-card {
		width: 35vw;
		min-height: 36vh;
		margin: 0vw 1vw 0vw 1vw;
		margin-bottom: 3vw;
		background-color: #FFFFFF;
		border-radius: 1.4vw;

		position: relative;
	}

	.item-image {
		width: 30vw;
		height: 16vh;
		margin: 2vh auto 2vh auto;
	}

	.item-text-container {
		height: 8vh;
	}

	.item-title {
		width: 32vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 3vw;
		font-weight: 600;
	}

	.item-type {
		width: 32vw;
		margin-left: auto;
		margin-right: auto;
		font-size:  2vw;
		font-weight: 300;
	}

	.item-price {
		width: 32vw;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		font-size: 3vw;
	}

	.item-btns {
		width: 35vw;
	}

	.item-btn {
		width: 100%;
		height: 4.5vh;
		border-radius: 0vw 0vw 1.4vw 1.4vw;
		font-size: 2.2vw;
		font-weight: 600;
		margin-bottom: .1vh;
		transition: .3s all;
		color: #FFFFFF;
		border: none;

		position: relative;
		bottom: 0vh;
	}

		.item-btn:hover {
			filter: brightness(.9);
		}

	.show-item {
		border: 0.1vw solid #b30016;
		background-color: #b30016;
		color: white;
	}

	.to-cart {
		background: #9A0300;
	}

	.in-cart {
		background: #120075;
		color: #FFFFFF;
		background: #242425;
	}


	.fav-container {
		position: relative;
		width: 3vw;
		height: 3vw;
		
		left: 30vw;
		top: .5vh;
	}

	.fav {
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		background-image: url("../imgs/fav.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

		.fav:hover {
			cursor: pointer;
			background-image: url("../imgs/fav-hover.png");
		}

	.in-fav {
		background-image: url("../imgs/fav-hover.png");
	}
}











@media (min-width: 1000px) { /* DESKTOP STYLES */

	#content {
		width: 80vw;
		min-height: 80vh;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4vh;
		font-family: "Montserrat";
	}

	.categories-container {
		width: 50vw;
		height: 3.3vh;
		display: flex;
		/*
		margin-left: auto;
		margin-right: auto;
		overflow-x: auto;*/
		flex-wrap: wrap;
	}

	.category button {
		height: 100%;
		height: 3.5vh;
		padding: 0vh .4vw;
		margin-bottom: 1vh;
		margin-right: .4vw;
		border: 0.25vw solid #242425;
		/*border-radius: 1.2vw;*/
		font-weight: 600;
		font-size: 1vw;
		transition: .3s all;
		background: none;
	}


		/*
		.category button.all-items {
		cursor: pointer;
		background-color: #b30016;
		color: #FFFFFF;
		border-color: #b30016;
	}
		*/

		.category button:hover {
			cursor: pointer;
			background-color: #b30016;
			color: #FFFFFF;
			border-color: #b30016;
		}


	.filters-container {
		height: 3vh;
		width: 20vw;
		margin-right: .7vw;
		
	}


	select {
		background: none;
		color: #FFFFFF;
		outline: none;
		border: .15vw solid #FFFFFF;
		height: 100%;
		height: 3.5vh;
		width: 100%;
		/*border-radius: 1.2vw;*/
		padding: .2vh 1vw;
		font-weight: 600;
		font-size: 1vw;
	}

	.option-value {
		color: black;
		background: #7e7e7e; /* закоментировать или изменить, если не нравится текст выпадающего меню*/
		font-weight: 600;
	}


	.items-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 2vh;
		/*	outline: solid green;*/
	}

	.item-card {
		width: 14vw;
		max-height: 42vh;

		margin: 0vw 1vw 0vw 1vw;
		margin-bottom: 3vw;

		background-color: #FFFFFF;
		border-radius: .7vw;

		position: relative;
		padding-bottom: 8vh;
	
	}

	.item-card:hover {
		.to-cart {
				/*background: #120075;*/
				color: #FFFFFF;
				background: #9A0300;
		       }
	}

	.fav-container {
		position: relative;
		width: 1vw;
		height: 1vw;
		z-index: 1;
		left: 12vw;
		top: .5vh;
	}

	.fav {
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		background-image: url("../imgs/fav.png");
		background-size: 1vw;
		background-position: center;
		background-repeat: no-repeat;
	}

	.fav:hover {
		cursor: pointer;
		background-image: url("../imgs/fav-hover.png");
	}

	.in-fav {
		background-image: url("../imgs/fav-hover.png");
	}

	.item-image {
		width: 8vw;
		max-height: 16vh;

		margin: 2vh auto 2vh auto;
	}

	.item-text-container {
		height: 10vh;
	}

	.item-title {
		width: 10vw;

		margin-left: auto;
		margin-right: auto;

		font-size: 1vw;
		font-weight: 600;
	
	}

	.item-type {
		width: 10vw;
		margin-left: auto;
		margin-right: auto;

		font-size: .9vw;
		font-weight: 300;
	}

	.item-price {
		height: 2vh;
		width: 10vw;
		margin-left: auto;
		margin-right: auto;

		font-weight: 500;
		font-size: 1.2vw;
	}

	.item-btns {
		width: 100%;
		position: absolute;
		bottom: -2vh;
	}

	.item-btn {
		width: 100%;
		min-height: 6.4vh;
	
		border-radius: 0vw 0vw .7vw .7vw;
		font-size: 1vw;
		
		color: #FFFFFF;
		font-weight: 500;
		outline: none;
		border: none;

		transition: .3s all;
	}

	.to-cart {
		background: #242425;
	}

/*.in-cart {
		background: #120075;
		color: #FFFFFF;
		background: #242425;
	}*/

	.item-btn:hover {
		filter: brightness(.9);
	}

	.show-item {
		background-color: #b30016;
		color: white;
	}

}

.item-card-clicker {
	color: #262626;
	outline: none;
	text-decoration: none;
}

.item-card-clicker:hover {
	color: #464646;
}

.filter-buttons-container {
	width: 78vw;
	height: 100%;
	display: flex;

	margin-left: auto;
	margin-right: auto;
}