@font-face {
	src: url("fonts/Montserrat-Regular.ttf");
	font-family: "Montserrat";
	font-weight: 450;
}

@font-face {
	src: url("fonts/Montserrat-Light.ttf");
	font-family: "Montserrat";
	font-weight: 200;
}

@font-face {
	src: url("fonts/Montserrat-Bold.ttf");
	font-family: "Montserrat";
	font-weight: 900;
}

@font-face {
	src: url("fonts/Montserrat-SemiBold.ttf");
	font-family: "Montserrat";
	font-weight: 500;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat';
}

body {
	background-color: #F0F0F0;
}

button:hover {
	cursor: pointer;
}

@media (max-width: 1000px) { /*MOBILE STYLES*/
	#header {
		display: none;
	}

	#mobile-header {
		width: 100vw;
		min-height: 7vh;
		display: flex;
		position: fixed;
		top: 0;
		background-color: #FFFFFF;
		margin-bottom: 100px;
		z-index: 1;
	}

	.burger-checkbox {
		position: absolute;
		visibility: hidden;
	}

	.burger {
		position: relative;
		top: 3vh;
		left: 2vw;
		z-index: 1;
		cursor: pointer;
		display: block;
		position: relative;
		border: none;
		background: transparent;
		width: 6vw;
		height: 2vh;
	}

		.burger::before,
		.burger::after {
			content: '';
			left: 0;
			position: absolute;
			display: block;
			width: 100%;
			height: .3vh;
			border-radius: 1vh;
			background: #000;
		}

		.burger::before {
			top: 0;
			box-shadow: 0px .83vh 0 #000;
			transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
		}

		.burger::after {
			bottom: 0;
			transition: bottom .3s .15s, transform .3s;
		}

	.burger-checkbox:checked + .burger::before {
		top: .7vh;
		transform: rotate(45deg);
		box-shadow: 0 .75vh 0 rgba(0,0,0,0);
		transition: box-shadow .15s, top .3s, transform .3s .15s;
	}

	.burger-checkbox:checked + .burger::after {
		bottom: 1vh;
		transform: rotate(-45deg);
		transition: bottom .3s, transform .3s .15s;
	}

	.menu-list {
		width: 50vw;
		height: 100vh;
		top: 0;
		left: 0;
		position: absolute;
		padding: 15vh 0;
		margin: 0;
		background: #FFFFFF;
		list-style-type: none;
		transform: translateX(-100%);
		transition: .3s;
	}

	.menu-item {
		display: block;
		padding: 8px;
		color: #000000;
		font-size: 18px;
		text-align: center;
		text-decoration: none;
	}

		.menu-item:hover {
			background: rgba(255,255,255,.2)
		}

	.burger-checkbox:checked ~ .menu-list {
		transform: translateX(0);
	}

	.menu {
		width: 20vw;
	}

	.mobile-logo {
		width: 13vw;
		height: 10vh;

		margin-left: auto;
		margin-right: 7vw
	}

	.searcher-container {
		width: 30vw;
		height: 3vh;
		margin-top: 2.5vh;

		margin-left: 8vw;
		display: flex;
		flex-wrap: wrap;
		form {
				 display: flex;
				 flex-wrap: wrap;
		     }
	}

	#searcher {
		display: block;
		width: 25vw;
		height: 100%;

		padding-left: 1vw;

		border: 0.2vw solid #aa001c;
		border-right: none;
		/*border-radius: 1.2vw 0vw 0vw 1.2vw;*/
	}

	#searcher:focus, #searcher:active {
		outline: none;
	}

#search-button {
	width: 5vw;
	height: 100%;
	display: block;
	margin-left: -1.5vw;
	border: 0.2vw solid #aa001c;
	border-left: none;
	/*border-radius: 0vw 1.2vw 1.2vw 0vw;*/

	background-color: #ffffff;
	color: white;
	font-size: 1.05vw;
	background-image: url('../imgs/loopa.png');
	background-size: 3.3vw;
	background-position: center;
	background-repeat: no-repeat;
	transition: .2s all;
}

	#search-button:hover {
		filter: brightness(.9);
	}


#footer {
	display: none;
}

#mobile-footer {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #aa001c;
	color: #FFFFFF;
}

.footer-logo {
	display: none;
	width: 100%;
	height: 10vh;
}

.footer-text {
	width: 95vw;
	height: 100%;
	padding-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.footer-contacts {
	width: 100%;
	height: 100%;
	display: flex;
}

.footer-contacts span {
	display: block;
	width: 40vw;
	font-weight: 600;
	font-size: 4vw;
}

.footer-contacts a {
	display: block;
	width: 7vw;
	height: 100%;
	margin-right: 2vw;
}

.footer-worktime {
	width: 100%;
	height: 100%;
	margin-top: .6vh;
	
	font-weight: 500;
	font-size: 3vw;
}

.footer-links-list {
	width: 100%;
	height: 100%;
	margin-top: 3vh;
}

.footer-link {
	width: 100%;
	height: 5vh;
	border-bottom: 0.1vw solid #FFFFFF;
}

.footer-link a {
	font-size: 4vw;
	color: white;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	padding-top: 1vh;
}



#searcher-results {
	position: absolute;
	background-color: #FFFFFF;
	width: 40vw;
	max-height: 50vh;
	left: 25vw;
	top: 9vh;
	z-index: 6;
	box-shadow: -.2vw .4vw 1vw #989898;
	border-radius: 1.2vw;

	display: none;
}

.result-list {
	width: 100%;
	list-style-type: none;
	overflow-y: auto;
	padding: 0;
	padding-top: 2vh;
	
	a {
		  color: #262626;
		  text-decoration: none;
	  }
}

.search-result {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	display: flex;
}

.res-img-container {
	width: 30vw;
	height: 100%;
	margin-right: 2vw;
}

.res-text-container {
	width: 48vw;
	width: 100%;
}

/*
	.res-title-container {
	width: 100%;
	font-size: 5vw;
	font-weight: 600;
}
	*/

.res-title-container {
	width: 100%;
	font-size: 3vw;
	font-weight: 600;
	text-align: left;
}
.res-price-container {
	width: 100%;
	font-size: 4vw;
	font-weight: 500;
}







}




















@media (min-width: 1000px) {/*DESKTOP STYLES*/

#mobile-header { display: none;}

#header {
	max-height: 12vh;
	display: flex;

	background-color: #FFFFFF;

	font-family: "Montserrat";
	font-size: 1.1vw;

	a {
		text-decoration: none;
		color: black;
		transition: .15s all;
	}

	a:hover {
		color: #aa001c;
	}
}

.navbar-container {
	width: 80vw;
	height: 100%;

	margin-left: 4vw;
	display: flex;
	
}

.navbar-el {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.3vw;
}

.logo-container {
	
	height: 12vh;
	width: 10vw;
	margin-left: 3vw;
	margin-top: -1.3vh;
}

.searcher-container {
	width: 20vw;

	margin-left: 3vw;
	margin-top: 1.9vw;
	margin-right: 3vw;

	display: flex;
}

#searcher {
	width: 20vw;
	height: 2.4vw;
	padding-left: 1vw;
	border: 0.25vw solid #aa001c;
	border-right: none;
}

	#searcher:focus, #searcher:active {
		outline: none;
	}

#search-button {
	width: 2.8vw;
	border: 0.25vw solid #aa001c;
	border-left: none;
	background-color: #ffffff;
	color: white;
	font-size: 1.05vw;
	background-image: url('../imgs/loopa.png');
	background-size: 1.5vw;
	background-position: center;
	background-repeat: no-repeat;
	transition: .2s all;
}

#search-button:hover {
	filter: brightness(.9);
}

.profile-container {
	width: 14vw;
	margin-left: 2vw;
	display: flex;
}

#auth-container {
	width: 10vw;
	margin-top: 2.3vw;

	font-size: .8vw;
}

#avatar-container {
	width: 4vw;
	height: 4vw;

	margin-top: 1vw;

	img {
		width: 100%;
		height: 100%;
	}
}

.exit-profile {
	font-size: .9vw;
	font-weight: 200;

}



#footer {
	width: 100%;
	min-height: 20vh;
	
	padding-top: 3vh;
	display: flex;
	background-color: #aa001c;
	color: white;
	font-size: 1.1vw;
	ul {
		list-style-type: none;
		margin-left: -3vw;
	   }
}

.footer-work-time {
	width: 20vw;
	margin-left: 4vw;
	ul li {
			  margin-left: 1vw;
	      }
}

.footer-time {
	width: 100%;
	display: flex;
}

.day-container {
	width: 10vw;
}

.time-container {
	width: 10vw;
}

.holiday {
	color: #CFCFCF;
}

.footer-contacts {
	width: 20vw;
	margin-left: 16vw;
}

.contacts-title {
	font-size: 2vw;
	font-weight: 600;
	margin-bottom: 1vh;
}

.contacts-list {
	width: 100%;
	
}

.contact-number {
	display: block;
	width: 100%;

}


.footer-logo {
	width: 15vw;
	height: 15vw;
	margin-left: auto;
	margin-right: 3vw;
	justify-content: right;
	text-align: right;
}

.social-container:first-child {
	margin-top: 3vh;
}

.social-container {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 2vh;
}

.social-container img {
	width: 2vw;
	height: 2vw;
	margin-right: 1vw;
}

#mobile-footer {
	display: none;
}


#searcher-results {
	position: absolute;
	background-color: #FFFFFF;
	width: 20vw;
	max-height: 50vh;
	right: 2.95vw;
	top: 13vh;
	z-index: 6;
	box-shadow: -.2vw .4vw 1vw #989898;
	border-radius: 1.2vw;
	display: none;
}

.result-list {
	width: 100%;
	height: 100%;
	list-style-type: none;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	padding-top: 0vh;
	padding-bottom: 0vh;
	a	{
			color: #262626;
			text-decoration: none;
		}
}

.result {
	padding-top: 1.3vh;
}

.search-result {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
	display: flex;
	transition: .2s all;
}

.search-result:last-child {
	padding-bottom: 2vh;
}

.search-result:hover {
	background-color: #EAEAEA;
	border-radius: .4vw;
}

.res-img-container {
	width: 8vw;
	height: 100%;
	margin-right: 2vw;
}

.res-text-container {
	width: 10vw;
	width: 100%;
}

.res-title-container {
	width: 100%;
	font-size: 1.2vw;
	font-weight: 400;
	text-align: left;
	justify-content: center;
}

.res-price-container {
	width: 100%;
	font-size: .9vw;
	font-weight: 500;
}


}

