.hero-section {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #242425;
    padding: 5vw;
}

.about-text-container {
    width: 32vw;
    height: 100%;
}

.about-title {
    width: 100%;
    font-size: 4vw;
    color: #5E0301;
    font-weight: 600;
}

.about-desc {
    width: 100%;
    font-size: 1.2vw;
    color: white;
    margin-bottom: 4vh;
    text-indent: 1vw;
}

.about-map-container {
    width: 40vw;
    max-height: 70vh;
    margin-left: auto;
    margin-bottom: 2vh;
}

iframe {
    margin-top: 10%;
    width: 100%;
    height: 90%;
}

.advs-container {
    width: 100%;
    height: 100vh;
    padding-top: 17vh;
    padding-bottom: 30vh;
    
}

.advs-title {
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10vh
    
}

.advs-section {
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: #aa001c;
}

.advantage {
    width: 20vw;
    margin: 5vh 0vw 5vh 5vw;
    padding-right: 5vw;
    border-right: 1px solid white;
}

    .advantage:last-child {
        border: none;
    }

.advantage-img {
    width: 100%;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

    .advantage-img img {
        width: 6vw;
    }

.advantage-text {
    width: 100%;
    height: 100%;
    word-wrap: normal;
    text-align: center;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}

    .advantage-text span {
        font-size: 1.4vw;
        font-size: 1vw;
        font-weight: 500;
        color: white;
    }

.more-info-container {
    width: 100%;
    height: 100%;
    background-color: #242425;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.more-info-title {
    font-size: 3.5vw;
    color: #5E0301;
    text-align: center;
    margin-bottom: 5vh;
}

.more-info-section {
    width: 90vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.more-info-item {
    width: 100%;
    height: 100%;
    margin-bottom: 3vh;
}

.more-info-summary {
    width: 100%;
    height: 100%;
    font-size: 2.8vh;
    list-style: none; /* Скрываем стандартную стрелку */
    position: relative; /* Для позиционирования кастомной стрелки */
    padding-right: 3vw;
    border-bottom: 1px solid white;
    padding-bottom: 2vh;
    padding-left: 1vw;
}

    .more-info-summary::-webkit-details-marker {
        display: none;
    }

    .more-info-summary::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='12' viewBox='0 0 12 8'%3E%3Cpath fill='none' stroke='white' stroke-width='2' d='M1 1l5 5 5-5'/%3E%3C/svg%3E");
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2vh;
        transition: transform 0.3s;
    }

details[open] .more-info-summary::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='12' viewBox='0 0 12 8'%3E%3Cpath fill='none' stroke='white' stroke-width='2' d='M1 7l5-5 5 5'/%3E%3C/svg%3E");
}

/*.more-info-summary::marker {
    display: none;
    content: "";
}*/

.more-info-content {
    width: 100%;
    padding-top: 2vh;
    p

{
    text-indent: 1vw;
    font-size: 2.2vh;
}

}

@media (max-width: 1000px) {
    .hero-section {
        margin-top: 7vh;
    }

    .about-title {
        font-size: 5vw;
        font-weight: 900;
    }

    .about-desc p {
        font-size: 4vw;
    }

    .advs-container {
        height: 100vh;
        width: 100%;
        padding-top: 10vh;
    }

    .advs-title {
        font-size: 5vw;
        font-weight: 700;
        margin-bottom: 8vh;
    }

    .advs-section {
        height: 60vh;
        display: block;
    }

    .advantage {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid white;
        width: 100%;
        min-height: 15vh;
    }


    .advantage-img {
        width: 20vw;
        height: 10vh;
        margin-left: auto;
        margin-right: auto;
    }

        .advantage-img img {
            width: 100%;
            height: 100%;
        }

    .advantage-text {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

        .advantage-text span {
            font-size: 4vw;
        }


    .more-info-container {
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin-bottom: 0;
    }

    .more-info-title {
        font-size: 6vw;
        font-weight: 900;
    }

    .more-info-summary {
        font-size: 4vw;
        font-weight: 600;
    }

    .more-info-content p {
        font-size: 4vw;
    }


    .about-section {
        width: 100%;
        height: 100%;
        display: block;
        /*display: flex;*/
        background-color: #242425;
        padding: 5vw;
    }

    .about-text-container {
        width: 90vw;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-title {
        width: 100%;
        font-size: 6.5vw;
        color: #5E0301;
        font-weight: 600;
    }

    .about-desc {
        width: 100%;
        height: 100%;
        font-size: 4.2vw;
        color: white;
        margin-bottom: 4vh;
    }

        .about-desc p {
            text-indent: 1vw;
        }

    .about-map-container {
        width: 90vw;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }

    iframe {
        margin-top: 10%;
        width: 100%;
        height: 90%;
    }
}
