

@media (max-width: 1000px) { /* MOBILE STYLES */
	#content {
		width: 100%;
		min-height: 90vh;
		margin-top: 12vh;
		font-family: "Montserrat";
	}

	#cart-modal {
		width: 60vw;
		min-height: 4vh;
		position: fixed;
		z-index: 5;
		padding: 1vw;
		top: -10vh;
		left: 20vw;
		background-color: #FFFFFF;
		font-size: 2.5vw;
		font-weight: 600;
		text-align: center;
		border: 0.5vw solid green;
		border-radius: 1.4vw;
	}

	.animate-modal {
		animation: modalView 3s;
	}

	@keyframes modalView {
		0% {
			top: -10vh;
		}

		20% {
			top: 8vh;
		}

		80% {
			top: 8vh;
		}

		100% {
			top: -10vh;
		}
	}

	.item-container {
		width: 100%;
		height: 100%;
		margin-left: 4vw;
		display: flex;
	}

	.left-image-container {
		width: 40vw;
		height: 100%;
		margin-right: 10vw;
	}

	.right-text-container {
		width: 38vw;
		height: 100%;
		margin-top: 2vh;
	}

	.item-title-container {
		width: 100%;
		min-height: 12vh;
		font-size: 5vw;
		font-weight: 500;
	}

	.item-articul-container {
		width: 100%;
		font-size: 2vw;
		font-weight: 300;
	}

	.item-type-container {
		width: 100%;
		min-height: 3vh;
		font-size: 3vw;
		font-weight: 200;
	}

	.item-desc-container {
		width: 80vw;
		min-height: 23vh;
		margin-top: 10vh;
		margin-left: -45vw;
		font-size: 3vw;
		font-weight: 450;
	}

	.user-container {
		width: 85vw;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.inner-user-container {
		margin-top: 6vh;
	}

	.upper-container {
		width: 100%;
		height: 4vh;
		display: flex;
	}

	.counter-container {
		margin-left: 2vw;
		margin-top: .3vw;
	}

	.counter-btn {
		width: 5vw;
		height: 5vw;
		border: .05vw solid #E0E0E0;
		font-size: 2.5vw;
		transition: .3s all;
	}

	#counter {
		width: 7vw;
		margin-left: -.27vw;
		margin-right: -.28vw;
		border-left: none;
		border-right: none;
		background-color: #fff;
	}

	#minus-btn {
		border-radius: .45vw 0vw 0vw .45vw;
	}

	#plus-btn {
		border-radius: 0vw .45vw .45vw 0vw;
	}

		#minus-btn:hover, #plus-btn:hover {
			filter: brightness(.9);
		}


	.buy-btn-container {
		margin-left: 5vw;
		margin-top: .2vh;
	}

		.buy-btn-container button {
			width: 25vw;
			height: 3vh;
			border: none;
			background-color: #aa001c;
			color: white;
			font-size: 2.5vw;
			transition: .3s all;
		}

			.buy-btn-container button:hover {
				filter: brightness(.8);
			}

	.lower-container {
		margin-top: 1.4vw;
		margin-left: 2vw;
		font-size: 3.5vw;
		font-weight: 500;
		line-height: 2vw;
	}


	.fav-container {
		width: 5vw;
		height: 5vw;
	}

	.fav {
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		background-image: url("../imgs/fav.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

		.fav:hover {
			cursor: pointer;
			background-image: url("../imgs/fav-hover.png");
		}

	.in-fav {
		background-image: url("../imgs/fav-hover.png");
	}


}

@media (min-width: 1000px) { /* DESKTOP STYLES */
	#content {
		width: 100%;
		min-height: 90vh;
		margin-top: 8vw;
		display: flex;
		font-family: "Montserrat";
	}

	.item-container {
		width: 50vw;
		height: 100%;
		margin-left: 4vw;
		display: flex;
	}

	.left-image-container {
		width: 22vw;
		height: 100%;
	}

	.right-text-container {
		width: 28vw;
		height: 100%;
		margin-top: 2vh;
		margin-left: 2vw;
	}

	.item-title-container {
		width: 100%;
		min-height: 5vh;
		font-size: 1.7vw;
		font-weight: 500;

		display: flex;
	}

	.item-title-container span {
		width: 100%;
		height: min-content;
	}

	.fav-container {
		width: 2.1vw;
		height: 2.1vw;
	}

	.fav {
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		background-image: url("../imgs/fav.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.fav:hover {
		cursor: pointer;
		background-image: url("../imgs/fav-hover.png");
	}

	.in-fav {
		background-image: url("../imgs/fav-hover.png");
	}

	.item-articul-container {
		width: 100%;
		font-size: 1vw;
		font-weight: 300;
	}

	.item-type-container {
		width: 100%;
		min-height: 8vh;
		font-size: 1.5vw;
		font-weight: 200;
	}

	.item-desc-container {
		width: 35vw;
		min-height: 23vh;
		font-size: 1vw;
		font-weight: 450;
	}


	.user-container {
		width: 24vw;
		height: 100%;
		margin-left: 7vw;
	}

	.inner-user-container {
		margin-top: 6vh;
	}

	.upper-container {
		width: 100%;
		height: 6vh;
		display: flex;
	}

	.counter-container {
		margin-left: 2vw;
		margin-top: .3vw;
	}

	.counter-btn {
		width: 2vw;
		height: 2vw;
		border: .05vw solid #E0E0E0;
		font-size: 1.2vw;
		transition: .3s all;
	}

	#counter {
		min-width: 3.1vw;
		margin-left: -.27vw;
		margin-right: -.28vw;
		border-left: none;
		border-right: none;
		background-color: #fff;
	}

	#minus-btn {
		border-radius: .45vw 0vw 0vw .45vw;
	}

	#plus-btn {
		border-radius: 0vw .45vw .45vw 0vw;
	}

		#minus-btn:hover, #plus-btn:hover {
			filter: brightness(.9);
		}


	.buy-btn-container {
		margin-left: 5vw;
	}

		.buy-btn-container button {
			width: 9vw;
			height: 5vh;
			border: none;
			
			background-color: #aa001c;
			color: white;
			font-size: 1.3vw;
			transition: .3s all;
		}

			.buy-btn-container button:hover {
				filter: brightness(.8);
			}

	.lower-container {
		margin-top: 1.4vw;
		margin-left: 2vw;
		font-size: 1.5vw;
		font-weight: 500;
		line-height: 2vw;
	}

	#cart-modal {
		width: 40vw;
		height: 8vh;
		position: fixed;
		z-index: 5;
		padding: 1vw;
		top: -10vh;
		left: 30vw;
		background-color: #FFFFFF;
		font-size: 1.2vw;
		font-weight: 600;
		text-align: center;
		border: 0.2vw solid green;
		border-radius: 1.4vw;
	}

	.animate-modal {
		animation: modalView 3s;
	}

	@keyframes modalView {
		0% {
			top: -10vh;
		}

		20% {
			top: 8vh;
		}

		80% {
			top: 8vh;
		}

		100% {
			top: -10vh;
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
	text-align: center;
}


.buy-btn-container button:disabled {
	background-color: #D9D9D9;
}