@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Автомастерская";
	ViewData["ShowHero"] = true;
}

<link rel="stylesheet" href="~/css/index.css">
<div class="hero-section">
	<img src="~/imgs/hero-img.png" width="100%" height="100%">
</div>
<div id="content">

	<div class="desc-container">
		<div class="text-container">
			<div class="title-container">
				<span>ПРЕИМУЩЕСТВА</span>
			</div>
			<div class="more-text-container">
				<details class="accordion-item">
					<summary class="accordion-summary">
						Экспертная консультация и помощь в подборе
					</summary>
					<div class="accordion-content">
						<p>Квалифицированные сотрудники, которые не просто
							продают, а помогают клиентам понять, какая именно запчасть им нужна, учитывая марку, модель,
							год выпуска автомобиля и даже особенности его эксплуатации. Это особенно ценно для тех, кто не
							разбирается в технической стороне вопроса.</p>
					</div>
				</details>
				<details class="accordion-item">
					<summary class="accordion-summary">
						Гарантия совместимости и качества
					</summary>
					<div class="accordion-content">
						<p>
							Предоставление гарантии на все запчасти,
							подтверждающей их соответствие заявленным характеристикам и
							совместимость с конкретным автомобилем. Это снимает страх покупки “кота в мешке”.
						</p>
					</div>
				</details>
				<details class="accordion-item">
					<summary class="accordion-summary">
						Специализированный ассортимент для редких автомобилей
					</summary>
					<div class="accordion-content">
						<p>
							Предложение запчастей для автомобилей редких марок и годов выпуска,
							которые сложно найти в обычных магазинах.
							Это привлекает владельцев уникальных и старых машин.
						</p>
					</div>
				</details>
				<details class="accordion-item">
					<summary class="accordion-summary">
						Онлайн-каталог с удобным поиском и подробными характеристиками
					</summary>
					<div class="accordion-content">
						<p>
							Разработка удобного онлайн-каталога с возможностью поиска по VIN-коду автомобиля,
							номеру запчасти и другим параметрам. Каждая запчасть
							должна иметь подробное описание, фотографии и отзывы других покупателей.
						</p>
					</div>
				</details>
				<details class="accordion-item">
					<summary class="accordion-summary">
						Доставка в течении 2 часов
					</summary>
					<div class="accordion-content">
						<p>
							Быстрая доставка запчастей по городу и в регионы, с возможностью
							выбора оптимального способа доставки и отслеживания заказа
							в режиме реального времени.
						</p>
					</div>
				</details>
				<details class="accordion-item">
					<summary class="accordion-summary">
						Низкие цены
					</summary>
					<div class="accordion-content">
						<p>
							Конкурентоспособные цены на все запчасти, благодаря
							прямым поставкам от производителей и оптимизации логистических затрат.
						</p>
					</div>
				</details>
			</div>
		</div>
		<div class="image-container">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3e471b588873dcebf74af2d40a080cf6349aaf348bcbb2e5cbc72e063e758ae2&amp;source=constructor"
			frameborder="0"></iframe>
		</div>
	</div>

	<div id="about">
		<div class="about-section">
			<div class="about-title">
				<span>Оплата</span>
			</div>
			<div class="about-text">
				<span>
					VTM-auto принимает к оплате банковские карты, безналичные и онлайн переводы и наличные средства.<br /><br />
					1. Для самовывоза и курьерской доставки самый удобный вариант оплата наличными, переводом и банковской картой. Вы осматриваете товар, убеждаетесь в его соответствии, и вносите оплату в нужном объеме. При желании, можно внести деньги заранее онлайн, и при получении товара просто забрать его (без оплаты);<br /><br />
					2. Безналичные расчеты осуществляются путем перевода на наш расчетный счет, предварительно получив счёт на оплату.
				</span>
			</div>
		</div>
		<hr />
		<div class="about-section">
			<div class="about-title">
				<span>Гарантия и возврат</span>
			</div>
			<div class="about-text">
				<span>
					<b>Гарантия</b><br />
					1. На неоригинальные запасные части гарантия распространяется на срок от 2х недель до 1 года. Каждый производитель лично устанавливает сроки гарантии на каждую группу товаров. Срок можно уточнить у менеджера.<br><br>
					2. Гарантия на оригинальные запасные распространяется только при условии установки деталей у официального дилера.<br><br>
					3. При замене деталей в нашем автосервисе, Вы получаете расширенную гарантию от магазина. Подробности уточняйте у продавцов.<br><br>
					В нашем магазине действует гибкая система возвратов и обмена запасных частей. По всем нестандартным вопросам обращайтесь в точку продаж.<br><br><br>

					<b>Возврат</b><br>

					Возврат товара надлежащего качества проводится в течение 14 (четырнадцати) дней, не считая дня его покупки, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, фабричные ярлыки, а также имеется товарный чек, либо иной подтверждающий оплату указанного товара документ (ст. 25 "Закона РФ о защите прав потребителя"). Обмен товара производится по месту приобретения.<br><br>

					Не подлежит возврату или возврат с уценкой на рассмотрение: товар надлежащего качества, имеющий следы установки (установки), грязный, крашенный, упаковка которого отсутствует, нарушена, повреждена или имеет следы загрязнения; товар при отсутствии упаковки и оригинальных этикеток: товар, повреждённый покупателем.<br><br>

					В случае возникновения разногласий или вопросов, напишите на почту с пометкой "рекламация" или спросите по телефону менеджера по возврату запасных частей.<br><br>
				</span>
			</div>
		</div>
		<hr />
		<div class="about-section">
			<div class="about-title">
				<span>Доставка</span>
			</div>
			<div class="about-text">
				<span>
					<b>Доставка</b><br>

					Мы осуществляем доставку запасных частей по г. Казань и в другие регионы РФ.<br><br>

					По желанию, можете забрать запчасти самовывозом из магазина.<br><br>

					При покупке на сумму от 10,000р доставка в пределах г. Казань осуществляется БЕСПЛАТНО курьером компании VTM-Auto.<br><br>
				</span>
			</div>
		</div>
	</div>
</div>

