@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Автомастерская";
	ViewData["ShowHero"] = true;
}

<link href="~/css/index2.css" rel="stylesheet" type="text/css" />
<link href="~/css/modal.css" rel="stylesheet" />



<div id="content">
	<div class="hero-section">
		<img src="~/imgs/hero-img.png" width="100%" height="100%" />
	</div>
	<div class="about-section">
		<div class="about-text-container">
			<div class="about-title">
				<span>О КОМПАНИИ</span>
			</div>
			<div class="about-desc">
				<p>Нужны качественные запчасти для вашего автомобиля в Казани? Мы – это именно то, что вы ищете! С 2008 года мы успешно работаем по адресу: ул. Джуадата Файзи, 14, предлагая широкий выбор запчастей для различных марок и моделей авто. Мы знаем, что для вас важно, чтобы автомобиль всегда был в исправном состоянии, поэтому предлагаем только проверенные и надежные детали.</p>
			</div>
			<div class="about-desc">
				<p>Мы – команда профессионалов, готовых помочь вам подобрать необходимые запчасти, проконсультировать по вопросам ремонта и обслуживания, и предложить выгодные цены. Наша цель – сделать процесс покупки запчастей максимально удобным и быстрым, чтобы вы могли как можно скорее вернуться за руль!</p>
			</div>
		</div>
		<div class="about-map-container">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3e471b588873dcebf74af2d40a080cf6349aaf348bcbb2e5cbc72e063e758ae2&amp;source=constructor"
					frameborder="0"></iframe>
		</div>
	</div>
	<div class="advs-container">
		<div class="advs-title">
			<span>ПОЧЕМУ СТОИТ ВЫБИРАТЬ НАС?</span>
		</div>
		<div class="advs-section">
			<div class="advantage">
				<div class="advantage-img">
					<img width="100%" height="100%" src="~/imgs/advantages/adv1.png"/>
				</div>
				<div class="advantage-text">
					<span>ДОСТАВКА ЗА 2 ЧАСА</span>
				</div>
			</div>

			<div class="advantage">
				<div class="advantage-img">
					<img width="100%" height="100%" src="~/imgs/advantages/adv2.png" />
				</div>
				<div class="advantage-text">
					<span>ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ И ПРОВЕРЕННЫЕ АНАЛОГИ
					</span>
				</div>
			</div>

			<div class="advantage">
				<div class="advantage-img">
					<img width="100%" height="100%" src="~/imgs/advantages/adv3.png" />
				</div>
				<div class="advantage-text">
					<span>ЦЕНЫ НИЖЕ РЫНКА</span>
				</div>
			</div>

			<div class="advantage">
				<div class="advantage-img">
					<img width="100%" height="100%" src="~/imgs/advantages/adv4.png" />
				</div>
				<div class="advantage-text">
					<span>ПРОФЕССИОНАЛЬНЫЕ КОНСУЛЬТАЦИИ</span>
				</div>
			</div>
		</div>
	</div>
	<div class="more-info-container">
		<div class="more-info-title">
			<span>НЕОБХОДИМАЯ ИНФОРМАЦИЯ</span>
		</div>
		<div class="more-info-section">
			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>

			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>

			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>

			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>

			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>

			<details class="more-info-item">
				<summary class="more-info-summary">
					Есть ли гарантия на товар? Если да, то на какой срок?
				</summary>
				<div class="more-info-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</details>
		</div>
	</div>

	<div class="auth-content">
		@{
			if (ViewBag.authorized == null || ViewBag.authorized == false)
			{
				await Html.RenderPartialAsync("~/Views/User/Login.cshtml");
				await Html.RenderPartialAsync("~/Views/User/Registration.cshtml");
			}
		}
	</div>
</div>


<script src="~/js/auth_replace.js" type="text/javascript"></script>
<script src="~/js/close_details.js" type="text/javascript"></script>
<script>
	hide_reg();
	console.log("||@ViewBag.error_message||");
	if ("@ViewBag.error_message" != "") {
		document.location.href += "#login-body";
	}
</script>